node_modules
dist
.env
config.ts
coverage

# Ignore built JS and CSS files in deploy directory
deploy/{9DC93CDB-B576-4F0C-B55E-FCC9C48DD777}/*.js
deploy/{9DC93CDB-B576-4F0C-B55E-FCC9C48DD777}/*.css

scripts/dev.js

# Playwright
test-results/
playwright-report/
playwright/.cache/
e2e/screenshots/

